body {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    background-color: #fdfdfd;
    color: #333;
    margin: 0;
}

header {
    background-color: #ff7eb9;
    color: #fff;
    padding: 20px;
    margin: 0;
}

header img {
    width: 100px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
}

header h1 {
    margin: 0;
}

section {
    margin-bottom: 1px;
    border-bottom: 1px solid #e7dcee;
    padding: 10px;
    position: relative;
}

section h2 {
    text-align: center;
}

section p {
    max-width: 400px;
    word-wrap: break-word;
    margin: 0 auto;
}


section hr {
    width: 10%;
    margin: 0;
    position: absolute;
    bottom: 0;
}

h2 {
    color: #ff7eb9;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

.silly {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100px;
    max-height: 90vh;
}


footer {
    background-color: #f9f5f7;
    text-align: center;
    padding: 10px;
}